@page
@model SynthesisWebApp.Pages.ChallengeInfoModel
@{
}

<p> Challenge by: User with an ID of @ChallengeInfoModel.Challenge.ChallengerID</p> 
<p> This challenge is for @ChallengeInfoModel.Challenge.Date.ToShortDateString()</p>

<p> @ViewData["Error"]</p>
@if (@ChallengeInfoModel.Challenge.Status == "Awaiting")
{
    <form class="form" method = "post">
        <button class = "buttonAccept" asp-page-handler="AcceptChallenge">Accept</button>
        
    </form>

    <form class="form" method = "post">
        <button class = "buttonDeny" asp-page-handler="DenyChallenge">Deny</button>

    </form>
}
else if (@ChallengeInfoModel.Challenge.Status == "Accepted")
{
    <form class = "form" method="post">
        <div class="container">
            <label asp-for="ChallengeResults.ChallengerScore"><b>Challenger score:</b></label>
            <input class = "Challenger" asp-for="ChallengeResults.ChallengerScore">
            <span class="validation-message text-danger" asp-validation-for="ChallengeResults.ChallengerScore"></span>

            <label asp-for="ChallengeResults.OpponentScore"><b>Your score:</b></label>
            <input class = "Opponent" asp-for="ChallengeResults.OpponentScore">
            <span class="validation-message text-danger" asp-validation-for="ChallengeResults.OpponentScore"></span>

            <button class = "buttonSetResults" asp-page-handler="SetResults">Save results</button>
        </div>

    </form>
}
else if (@ChallengeInfoModel.Challenge.Status == "Finished")
{
    <label>Challenger score: @ChallengeInfoModel.Challenge.Match.Player1Score</label>
    <label>Your score: @ChallengeInfoModel.Challenge.Match.Player2Score</label>
}
